*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1200px;
    margin: auto;
}


/* Header and Navigation Start */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
     height: 90px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 0px 16px;
}

nav ul li a {
    text-decoration: none;
    color: #575757;
}


nav button {
    padding: 10px 25px;
    background-color: #1D4ED8;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}



/* Header and Navigation End */



/* Hero Section Start */



.hero-section {
    background-image: url(./image/banner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding: 140px 0px;
}

.hero-section h2 {
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: "Inter", sans-serif;
}

.hero-section span {
    font-style: italic;
    font-family: "Inter", sans-serif;
}

.hero-section p {
    text-align: center;
    padding: 18px 490px;
    color: white;
    font-family: "Inter", sans-serif;
}

.hero-section button {
    display: block;
    margin: 0 auto;
    margin-top: 220px;
    background-color: #1D4ED8;
    color: white;
    font-weight: bold;
    border: none;
    padding: 18px 55px;
    border-radius: 8px;
    font-size: 18px;
}


/* Hero Section End */

/* Speakers Section Start */

.speakers-section h2 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 50px;
    margin-top: 10px;
    padding: 40px 0px;
}


.card-section {
    display: grid;
    grid-template-columns:repeat(2,600px);
    gap: 30px;
    padding-bottom: 60px;
    padding-top: 10px;
}


/* Card Styling */

.card {
    border: 0.5px solid gray;
    border-radius: 20px;
    padding-bottom: 15px;
}

.card img {
    width: 100%;
    border-radius: 20px;
}

.card p,span {
   padding-left: 15px;
}

.card p {
    margin-top: 10px;
    color: #2563EB;
    font-size: 14px;
     font-family: "Inter", sans-serif;
}

.card h4 {
    padding: 8px 0px;
    padding-left: 15px;
    font-size: 22px;
    color: #0D1B2A;
     font-family: "Inter", sans-serif;
}

.card span {
    color: #575757;
    font-family: "Inter", sans-serif;
}



/* Speakers Section End */

